@namespace Shared

<div style="margin: auto">
    <img src="./coffee_loading.png" alt="Loading animation" style="height: @Height">
</div>
@code {
    [Parameter]
    public string Height { get; set; }

}